---
layout: default
title: Hackout 2022 · 10th-16th October 2022
---

<div class="background-container">
  <img class="background-img" src="/assets/bg.png" alt="" />
</div>

<header class="container">
  <div class="header-container">
    <div class="banner-floppy">
      <lottie-player
        src="/assets/lottie.json"
        background="transparent"
        speed="1"
        class="lottie"
        loop
        autoplay
      ></lottie-player>
    </div>

    <div class="header-right-container">
      <div class="top-bar">
        <img src="/assets/svg/dots.svg" alt="" />
      </div>
      <div class="right-container-content">
        <h1 class="header-title">hackout ‘22</h1>
        <p class="header-bold-subtitle">10th-16th October 2022</p>
        <p class="header-subtitle">
          Hackout — powered by Headout — is our annual open-track international
          hackathon. Join us virtually on Discord or in-person at
          <a
            href="https://www.wework.com/en-GB/buildings/embassy-quest--bengaluru--Karnataka"
            target="_blank"
            >Wework Embassy Quest</a
          >, <a href="https://www.iiita.ac.in/" target="_blank">IIIT-A</a>,
          <a href="https://www.iitbhu.ac.in/" target="_blank">IIT Varanasi</a>
          or
          <a href="https://www.iitism.ac.in/" target="_blank">IIT Dhanbad</a>
          to learn, build and make your next big career move!
        </p>
        <div class="header-cta-wrapper">
          <button class="header-cta" id="discord">
            <a
              href="https://discord.gg/e9G7J9E"
              target="_blank"
              rel="noreferrer noopener"
            >
              <div>Join our Discord</div>
              <svg
                width="29"
                height="30"
                viewBox="0 0 29 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.83969 20.3034L19.4463 9.69678"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M8.8401 9.6967L19.4467 9.6967L19.4467 20.3033"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </button>
          <div
            class="apply-button"
            data-hackathon-slug="hackout2022"
            data-button-theme="dark"
            id="devfolio"
          ></div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="speaker container" id="speakers">
  <div class="speaker-container">
    <div class="speaker-right-container speaker-text-container">
      <div class="top-bar">
        <img src="/assets/svg/dots.svg" alt="" />
      </div>
      <div class="right-container-content">
        <h1 class="speaker-title">Speakers</h1>
        <p class="speaker-subtitle">
          We had a kick-ass lineup last year — as you can see. So you know we’ll
          be back with more this time around. Stay tuned 😉
        </p>
        <div class="speaker-cta-wrapper">
          <button class="speaker-cta" id="discord">
            <a
              href="https://form.typeform.com/to/vp20MbEx"
              target="_blank"
              rel="noreferrer noopener"
            >
              <div>Want to be a speaker? Apply here!</div>
              <svg
                width="29"
                height="30"
                viewBox="0 0 29 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.83969 20.3034L19.4463 9.69678"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M8.8401 9.6967L19.4467 9.6967L19.4467 20.3033"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="speaker-container speaker-container-right">
    <div class="speakers-list-container">
      <div class="speakers-list">
        {% for speaker in speakers.2021 %}
        <a
          href="{{ speaker.url }}"
          title=" {{speaker.name}} "
          target="_blank"
          rel="noreferrer"
          class="speaker-card-mini"
        >
          <div class="speaker-details">
            <img src="assets{{ speaker.image }}" alt="{{ speaker.name }}" />
            <div class="speaker-name">{{ speaker.name }}</div>
            <div class="speaker-title">{{ speaker.title }}</div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>

<!-- <section class="prizes container" id="prizes">
  <div class="section-copy">
    <h2 id="speakers">Prizes</h2>
  </div>
  <div class="prizes-primary">
    <img src="/assets/01.png" alt="" />
    <img src="/assets/02.png" alt="" />
    <img src="/assets/03.png" alt="" />
    <img src="/assets/Best Design.png" alt="" />
    <img src="/assets/random01.png" alt="" />
    <img src="/assets/random02.png" alt="" />
    <img src="/assets/random03.png" alt="" />
    <img src="/assets/Custom01.png" alt="" />
    <img src="/assets/Custom02.png" alt="" />
    <img src="/assets/Custom03.png" alt="" />
    <img src="/assets/Custom04.png" alt="" />
    <img src="/assets/Custom05.png" alt="" />
    <img src="/assets/Custom06.png" alt="" />
    <img src="/assets/sponsor01.png" alt="" />
    <img src="/assets/sponsor02.png" alt="" />
    <img src="/assets/sponsor03.png" alt="" />
    <img src="/assets/sponsor04.png" alt="" />
  </div>
</section> -->

<section class="faq container" id="faqs">
  <div class="faq-container">
    <div class="faq-right-container">
      <div class="top-bar">
        <img src="/assets/svg/dots.svg" alt="" />
      </div>
      <div class="right-container-content" id="faq-heading-container">
        <h1 class="faq-heading">FAQs</h1>
        <div class="faq">
          {% for faq in faqs.2022 %}
          <details>
            <summary class="faq-title">
              {{ faq.title }}
              <span class="faq-chevron-icon"
                ><img src="assets/svg/chevron.svg" alt="chevron"
              /></span>
            </summary>
            <p class="faq-content">{{ faq.content }}</p>
          </details>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="schedule container" data-scroll-section>
  <div class="section-copy">
    <h2 id="schedule">Schedule</h2>
  </div>

  <div class="schedule-container">
    <div>
      <h3 class="date">12th Oct</h3>
      <div class="schedule-item">
        <span class="time">12:00 PM</span>
        <span class="schedule-title">Hackout Q/A answer Retweet</span>
      </div>
      <div class="schedule-item">
        <span class="time">5:00 PM</span>
        <span class="schedule-title">Trivia</span>
      </div>
      <div class="schedule-item">
        <span class="time">7 PM - 12 PM</span>
        <span class="schedule-title">Valorant Tourney Prelims</span>
      </div>
      <div class="schedule-item">
        <span class="time">12:00 AM</span>
        <span class="schedule-title">Meme</span>
      </div>
    </div>
    <div>
      <h3 class="date">13th Oct</h3>
      <div class="schedule-item">
        <span class="time">12:00 PM</span>
        <span class="schedule-title">Hackout Q/A answer Retweet</span>
      </div>
      <div class="schedule-item">
        <span class="time">5:00 PM</span>
        <span class="schedule-title">Trivia</span>
      </div>
      <div class="schedule-item">
        <span class="time">9:30 PM - 12:00 AM</span>
        <span class="schedule-title">Valorant Tourney Finals</span>
      </div>
      <div class="schedule-item">
        <span class="time">12:00 AM</span>
        <span class="schedule-title">Meme</span>
      </div>
    </div>
    <div>
      <h3 class="date">14th Oct</h3>
      <div class="schedule-item">
        <span class="time">12:00 PM</span>
        <span class="schedule-title">Hackout Q/A answer Retweet</span>
      </div>
      <div class="schedule-item">
        <span class="time">2 PM - 5 PM</span>
        <span class="schedule-title">Speaker Sessions</span>
      </div>
      <div class="schedule-item">
        <span class="time">5:00 PM</span>
        <span class="schedule-title">Trivia</span>
      </div>
      <div class="schedule-item">
        <span class="time">5:00 PM</span>
        <span class="schedule-title">Hacking Begins!!!</span>
      </div>
      <div class="schedule-item">
        <span class="time">12:00 AM</span>
        <span class="schedule-title">Registrations Close</span>
      </div>
      <div class="schedule-item">
        <span class="time">12:00 AM</span>
        <span class="schedule-title">Meme</span>
      </div>
    </div>
    <div>
      <h3 class="date">15th Oct</h3>
      <div class="schedule-item">
        <span class="time">12:00 PM</span>
        <span class="schedule-title">Hackout Q/A answer Retweet</span>
      </div>
      <div class="schedule-item">
        <span class="time">12 PM - 5PM</span>
        <span class="schedule-title">Mid Reviews</span>
      </div>
      <div class="schedule-item">
        <span class="time">5:00 PM</span>
        <span class="schedule-title">Trivia</span>
      </div>
      <div class="schedule-item">
        <span class="time">5 PM - 8 PM</span>
        <span class="schedule-title">Speaker Sessions</span>
      </div>
      <div class="schedule-item">
        <span class="time">8 PM - 12AM</span>
        <span class="schedule-title">Mid Reviews</span>
      </div>
      <div class="schedule-item">
        <span class="time">12:00 AM</span>
        <span class="schedule-title">Meme</span>
      </div>
    </div>
    <div>
      <h3 class="date">16th Oct</h3>
      <div class="schedule-item">
        <span class="time">10 AM - 3 PM</span>
        <span class="schedule-title">Final Reviews</span>
      </div>
      <div class="schedule-item">
        <span class="time">12:00 PM</span>
        <span class="schedule-title">Hackout Q/A answer Retweet</span>
      </div>
      <div class="schedule-item">
        <span class="time">4:00 PM</span>
        <span class="schedule-title">Top 10 teams announcement</span>
      </div>
      <div class="schedule-item">
        <span class="time">4 PM - 6PM</span>
        <span class="schedule-title">Presentations Preparation</span>
      </div>
      <div class="schedule-item">
        <span class="time">5:00 PM</span>
        <span class="schedule-title">Trivia</span>
      </div>
      <div class="schedule-item">
        <span class="time">6 PM - 9 PM</span>
        <span class="schedule-title">Demos</span>
      </div>
      <div class="schedule-item">
        <span class="time">10:00 PM</span>
        <span class="schedule-title">Results & Closing Ceremony</span>
      </div>
      <div class="schedule-item">
        <span class="time">12:00 AM</span>
        <span class="schedule-title">Meme</span>
      </div>
    </div>
  </div>
</section>

<section class="speaker container" id="sponsor">
  <!-- <div>
    <h1 id="sponsors" class="sponsors-text">Sponsors</h1>
    <p class="sponsors-paragraph">
      The brands that made Hackout come to life 🤝
    </p>
  </div> -->
  <div class="speaker-right-container">
    <div class="top-bar">
      <img src="/assets/svg/dots.svg" alt="" />
    </div>
    <div class="right-container-content">
      <h1 class="speaker-title">Sponsors</h1>
      <p class="speaker-subtitle">
        The brands that made Hackout come to life 🤝
      </p>
    </div>

    <div class="sponsor-logo-container">
      <div class="sponsors title">
        <a href="https://www.headout.com" target="_blank" rel="noreferrer"
          ><img src="assets/headout-logo.svg" alt="Headout Logo"
        /></a>
      </div>
    </div>

    <div class="sponsors gold">
      <a href="https://www.devfolio.co" target="_blank" rel="noreferrer"
        ><img src="assets/sponsors/devfolio.png" alt="Devfolio Logo"
      /></a>
      <a href="https://polygon.technology/" target="_blank" rel="noreferrer"
        ><img
          src="assets/sponsors/polygon.png"
          alt="Matic Logo"
          style="transform: scale(0.9)"
      /></a>
      <div></div>
      <a href="https://filecoin.io/" target="_blank" rel="noreferrer"
        ><img src="assets/sponsors/filecoin.png" alt="Filecoin Logo"
      /></a>

      <a href="https://replit.com/" target="_blank" rel="noreferrer"
        ><img src="assets/sponsors/replit.png" alt="Replit Logo"
      /></a>

      <a href="https://solana.com/" target="_blank" rel="noreferrer"
        ><img src="assets/sponsors/solana.png" alt="Solana Logo"
      /></a>
    </div>
  </div>
  <!-- </div> -->
</section>

<section class="contact container" id="contact">
  <div class="contact-container">
    <div class="contact-right-container">
      <div class="top-bar">
        <img src="/assets/svg/dots.svg" alt="" />
      </div>
      <div class="right-container-content">
        <h1 class="contact-title">Contact</h1>
        <div class="contact-cta-wrapper">
          <button class="contact-cta" id="discord">
            <a
              href="mailto:hey@hackout.io"
              target="_blank"
              rel="noreferrer noopener"
            >
              <div>Queries? Leave us a message!</div>
              <svg
                width="29"
                height="30"
                viewBox="0 0 29 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.83969 20.3034L19.4463 9.69678"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M8.8401 9.6967L19.4467 9.6967L19.4467 20.3033"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <img
    src="assets/svg/blue-star.svg"
    alt="blue star vector art"
    class="blue-star-vector"
  />
  <div class="contact-container contact-container-right">
    <div class="contact-right-container">
      <div class="top-bar">
        <img src="/assets/svg/dots.svg" alt="" />
      </div>
      <div class="right-container-content">
        <p class="contact-subtitle">2022©headout</p>
        <div class="header-cta-wrapper">
          <button class="contact-cta" id="twitter">
            <a
              href="https://twitter.com/hackoutio "
              target="_blank"
              rel="noreferrer noopener"
            >
              <div>Twitter</div>
              <svg
                width="29"
                height="30"
                viewBox="0 0 29 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.83969 20.3034L19.4463 9.69678"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M8.8401 9.6967L19.4467 9.6967L19.4467 20.3033"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </button>
          <button class="contact-cta" id="discord">
            <a
              href="https://discord.gg/e9G7J9E"
              target="_blank"
              rel="noreferrer noopener"
            >
              <div>Discord</div>
              <svg
                width="29"
                height="30"
                viewBox="0 0 29 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.83969 20.3034L19.4463 9.69678"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M8.8401 9.6967L19.4467 9.6967L19.4467 20.3033"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <img
    src="assets/svg/yellow-star.svg"
    alt="yellow star vector art"
    class="yellow-star-vector"
  />
</section>
