<footer data-scroll-section>
	<div class="contact-container container">
		<p class="contact-cta">
			For any further questions, reach out to us below!
		</p>
		<div class="contact-email">hey@hackout.io</div>
		<div class="contact-socials">
			<a href="https://twitter.com/HackoutIO" target="_blank" rel="noreferrer">
				<img src="./assets/svg/twitter.svg" alt="" height="64" width="64">
			</a>
			<a href="https://discord.gg/e9G7J9E" target="_blank" rel="noreferrer">
				<img src="./assets/svg/discord.svg" alt="" height="64" width="64">
			</a>
		</div>
	</div>
</footer>