<div data-scroll-section>
  <nav
    class="container primary-navigation"
    id="navigation"
    data-scroll
    data-scroll-speed="-4"
    data-scroll-position="top"
    data-scroll-repeat
  >
    <div
      class="nav-socials"
      data-scroll
      data-scroll-direction="horizontal"
      data-scroll-speed="-2"
      data-scroll-position="top"
      data-scroll-target="#navigation"
    >
      <img
        src="assets/hackout-logo-new.svg"
        id="hackout-logo-nav"
        alt="Hackout Logo"
      />
      <a href="https://twitter.com/HackoutIO" target="_blank" rel="noreferrer">
        <img
          src="./assets/svg/twitter.svg"
          alt="Hackout Twitter Link"
          height="24"
          width="24"
        />
      </a>
      <a href="https://discord.gg/e9G7J9E" target="_blank" rel="noreferrer">
        <img
          src="./assets/svg/discord.svg"
          alt="Hackout Discord Link"
          height="24"
          width="24"
        />
      </a>
      <a
        href="https://www.youtube.com/channel/UCWg2lbauMsuqqygWK9HoZEA"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="./assets/svg/youtube.svg"
          alt="Hackout Discord Link"
          height="24"
          width="24"
        />
      </a>
    </div>

    <ul
      class="nav-main"
      data-scroll
      data-scroll-direction="horizontal"
      data-scroll-speed="2"
      data-scroll-position="top"
      data-scroll-target="#navigation"
    >
      <li><a data-link="#speakers">Speakers</a></li>
      <li><a data-link="#prizes">Prizes</a></li>
      <li><a data-link="#sponsors">Sponsors</a></li>
      <li><a data-link="#faqs">FAQs</a></li>
    </ul>
  </nav>
</div>
