<div>
  <nav class="primary-navigation container" id="navigation">
    <div class="nav-hackout-logo">
      <a href="/">
        <img
          src="assets/hackout-logo.svg"
          id="hackout-logo-nav"
          alt="Hackout Logo"
        />
      </a>
    </div>

    <ul class="nav-main">
      <li><a href="#speakers">Speakers</a></li>
      <li><a href="#prizes">Prizes</a></li>
      <li><a href="#schedule">Schedule</a></li>
      <li><a href="#faqs">FAQs</a></li>
      <li><a href="#sponsor">Sponsors</a></li>
    </ul>
  </nav>
</div>
