<nav class="container">

	<div class="nav-socials">
		<img src="assets/hackout-logo-new.svg" id="hackout-logo-nav" alt="Hackout Logo" />
		<a href="https://twitter.com/HackoutIO" target="_blank" rel="noreferrer">
			<img src="./assets/svg/twitter.svg" alt="Hackout Twitter Link" height="24" width="24">
		</a>
		<a href="https://discord.gg/e9G7J9E" target="_blank" rel="noreferrer">
			<img src="./assets/svg/discord.svg" alt="Hackout Discord Link" height="24" width="24">
		</a>
		<!-- <a href="https://hackout2021.devfolio.co" target="_blank" rel="noreferrer">
			<img src="./assets/svg/devfolio.svg" alt="Hackout Discord Link" height="24" width="24">
		</a> -->
		<a href="https://www.youtube.com/channel/UCWg2lbauMsuqqygWK9HoZEA" target="_blank" rel="noreferrer">
			<img src="./assets/svg/youtube.svg" alt="Hackout Discord Link" height="24" width="24">
		</a>
	</div>

	<ul class="nav-main">
		<li><a data-link="#speakers">Speakers</a></li>
		<li><a data-link="#prizes">Prizes</a></li>
		<li><a data-link="#sponsors">Sponsors</a></li>
	</ul>
</nav>