footer {
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.contact-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.contact-cta,
.contact-email {
  text-align: center;
}

.contact-cta {
  margin-bottom: 2rem;
}

.contact-email {
  margin-bottom: 3em;
}

.contact-email a {
  font-style: normal;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.125em;
  text-align: center;
  letter-spacing: 0.6px;
  color: #ffffff;
}

.contact-socials {
  display: flex;
  column-gap: 1rem;
  margin: 0 auto;
}
