body {
	font-family: "halyard-text";
	font-weight: 300;
	font-size: 0.9rem;
	letter-spacing: -0.2px;
	font-feature-settings: "'SS04' 1";
	overflow-x: hidden;
}

main {
	padding: 2rem;
}

p,
li {
	line-height: 1.6;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}

.logo {
	margin: 0 auto;
	width: max-content;
	padding: 2rem;
}

.wrapper {
	max-width: 40rem;
	margin: 0 auto;
}

.message {
	position: relative;
}

.message::before {
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg width='36' height='25' viewBox='0 0 36 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.774994 16.105C0.774994 13.095 2.10499 9.7 4.76499 5.91999C7.42499 2.13999 9.41999 0.249992 10.75 0.249992C12.01 0.249992 12.64 0.669993 12.64 1.50999C12.64 1.85999 12.325 3.04999 11.695 5.07999C11.135 7.03999 10.855 8.47499 10.855 9.38499C10.855 10.295 11.1 10.89 11.59 11.17C13.83 12.71 14.95 14.985 14.95 17.995C14.95 19.815 14.25 21.285 12.85 22.405C11.52 23.525 9.76999 24.085 7.59999 24.085C3.04999 24.085 0.774994 21.425 0.774994 16.105ZM21.775 16.105C21.775 13.095 23.105 9.7 25.765 5.91999C28.425 2.13999 30.42 0.249992 31.75 0.249992C33.01 0.249992 33.64 0.669993 33.64 1.50999C33.64 1.85999 33.325 3.04999 32.695 5.07999C32.135 7.03999 31.855 8.47499 31.855 9.38499C31.855 10.295 32.1 10.89 32.59 11.17C34.83 12.71 35.95 14.985 35.95 17.995C35.95 19.815 35.25 21.285 33.85 22.405C32.52 23.525 30.77 24.085 28.6 24.085C24.05 24.085 21.775 21.425 21.775 16.105Z' fill='black'/%3E%3C/svg%3E%0A");
	background-size: contain;
	background-repeat: no-repeat;
	height: 4em;
	width: 4em;
	position: absolute;
	top: -1rem;
	left: -2rem;
	opacity: 0.1;
}

.message::after {
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg width='36' height='24' viewBox='0 0 36 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.09C0 4.27 0.664995 2.8 1.995 1.68C3.395 0.56 5.18 0 7.35 0C11.9 0 14.175 2.66 14.175 7.98C14.175 10.99 12.845 14.385 10.185 18.165C7.525 21.945 5.53 23.835 4.2 23.835C2.94 23.835 2.31 23.415 2.31 22.575C2.31 22.225 2.59 21.07 3.15 19.11C3.78 17.08 4.095 15.61 4.095 14.7C4.095 13.79 3.85 13.195 3.36 12.915C1.12 11.375 0 9.1 0 6.09ZM21 6.09C21 4.27 21.665 2.8 22.995 1.68C24.395 0.56 26.18 0 28.35 0C32.9 0 35.175 2.66 35.175 7.98C35.175 10.99 33.845 14.385 31.185 18.165C28.525 21.945 26.53 23.835 25.2 23.835C23.94 23.835 23.31 23.415 23.31 22.575C23.31 22.225 23.59 21.07 24.15 19.11C24.78 17.08 25.095 15.61 25.095 14.7C25.095 13.79 24.85 13.195 24.36 12.915C22.12 11.375 21 9.1 21 6.09Z' fill='black'/%3E%3C/svg%3E%0A");
	background-size: contain;
	background-repeat: no-repeat;
	height: 4em;
	width: 4em;
	position: absolute;
	bottom: 0rem;
	right: -1rem;
	opacity: 0.1;
}

.signatures {
	display: flex;
	margin: 2rem auto;
	width: max-content;
	column-gap: 2rem;
}

.signatures a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	width: 8.8rem;
	color: #ff00a8;
	transition: all 0.3s ease;

	img {
		height: 4rem;
		width: auto;
		margin-bottom: -1.8rem;
	}

	p {
		font-size: 0.8em;
		border-bottom: 1px solid transparent;
	}
}

.signatures a:hover {
	color: #8000ff;

	p {
		border-bottom: 1px solid currentColor;
	}
}

.titles {
	font-family: "halyard-display";
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.4px;
	text-align: center;
	margin-bottom: 1em;
	color: #222;
}

@media (max-width: 600px) {
	html {
		font-size: 14px;
	}

	.logo svg {
		width: 200px;
	}

	.message::after,
	.message::before {
		height: 3em;
		width: 3em;
	}
}
