nav {
	padding: 2rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 99;
}

.nav-main {
	margin: 0;
	padding: 0;
	display: grid;
	grid-auto-flow: column;
	list-style: none;
	column-gap: 1.4rem;

	a {
		color: white;
	}

	li {
		transition: transform 0.2s ease;
		position: relative;
		cursor: pointer;
	}

	li:hover {
		transform: scale(1.1) rotate(-4deg);
	}

	li:after {
		content: "";
		height: 1px;
		width: 0%;
		position: absolute;
		bottom: 0;
		left: 0;
		background: currentColor;
		transition: width 0.2s ease;
	}

	li:hover:after {
		width: 100%;
	}
}

.nav-socials {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	column-gap: 0.4rem;

	a {
		background: rgba(255, 255, 255, 0);
		transition: background-color 0.2s ease;
		border-radius: 50%;
		height: 1.8rem;
		width: 1.8rem;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 75%;
			height: auto;
			transition: transform 0.2s ease;
		}
	}

	a:hover {
		background: rgba(255, 255, 255, 0.1);

		img {
			transform: scale(0.9);
		}
	}
}

#hackout-logo-nav {
	margin-bottom: 0.4em;
	height: 20px;
	width: auto;
	margin-right: 1em;
}
