#navigation {
  padding: 2.167rem 0rem 2.278rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-main {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  column-gap: 1.778rem;
  font-size: 0.889rem;
  font-weight: 400;

  a {
    color: white;
  }

  li {
    transition: transform 0.2s ease;
    position: relative;
    cursor: pointer;
  }

  li:hover {
    transform: scale(1.1) rotate(-4deg);
  }

  li:after {
    content: "";
    height: 1px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: currentColor;
    transition: width 0.2s ease;
  }

  li:hover:after {
    width: 100%;
  }
}

#hackout-logo-nav {
  margin-right: 1em;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }
}
